body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235, 131, 14) !important;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "A A"
    "B C";
  
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    grid-area: A;
    margin: 2em;
}

aside {
    grid-area: B;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:rgb(235, 131, 14);
    border-radius: 1.5em;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); 

}

aside nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#container-comidas {
    grid-area: C;
    display: flex;
    padding: 1em;
}

h2 {
    display: inline;
    padding: 3em;
    text-decoration: underline ;
}
.card-comida {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color:rgb(235, 131, 14);
    border-radius: 1.5em;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); 
}

.card-producto {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color:rgb(235, 131, 14);
    border-radius: 1.5em;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); 
}

#imagen-producto {
    max-width: 100%;
}


.boton-agregar {
    background-color: rgb(209, 205, 200);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

.botones-nav {
    background-color: rgb(209, 205, 200);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

#nav-pedido {
margin-left: 2em;
margin-top: 4em;

}

footer {
    display: flex;
    padding: 0;
}

#parrafo-vacio {
    padding: 4em;
    margin-left: 12em;
    text-decoration: solid underline;
    font-size: large;
}