body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235, 131, 14);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "A A"
    "B C";
  
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    grid-area: A;
}

aside {
    grid-area: B;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

aside nav ul {
    list-style: none;
}

#container-comidas {
    grid-area: C;
    display: flex;
}

#card-comida {
    display: flex;
    flex-direction: column;
    padding: 2rem;


}

#imagen-comida {
    max-width: 100%;
}


